.nav {
    height: 25px;
    margin-bottom: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font: #747474;
    background-color: #ffe400;
    padding-top: 10px;
    display:flex;
    flex-flow:row nowrap;
    list-style:none;
    align-items: stretch;
    text-decoration: none;
    text-decoration-color: #747474
}
.nav li {

    text-decoration-color: #747474;
    margin:0 auto;
}

.nav a {
    color:#747474;
    text-decoration: none;

}

.nav a:hover {
    color: #272727;

}

.item{
    color:#747474;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font: #747474;

}