
<!-- <ul class="nav">
    <li> <i class= "item">Movie Finder</i> </li> -->
    <!-- <li> <a routerLink="/home">Home</a> </li> -->
    <!-- <li> <a id = "search" routerLink="/search">Search</a> </li>
    <li> <a routerLink="/login">LogIn</a> </li>
    <li> <a routerLink="/register">Register</a> </li>
    <li> <a routerLink="/favorite">Favorite</a> </li>
</ul>   -->

<header class="header-6">
    <div class="branding">
        <a href="..." routerLink="/home" class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">     Home</span>
        </a>
    </div>
    <!-- <div *ngIf="this._userService.isLoggedIn" class="header-nav">
        <button (click) ="getFavoriteMovies()" class="btn">
            <span class="clr-icon-title">Favorites</span>
            <clr-icon shape="thumbs-up"></clr-icon>
        </button> -->
        <!-- <a href="..." routerLink="/login" class="active nav-link"><span class="nav-text">Login</span></a> -->
        <!-- <a href="..." routerLink="/favorite" class="nav-link"><span class="nav-text" *ngIf="this._userService.isLoggedIn">Favorites</span></a> -->
    <!-- </div> -->
    <div class="search">
        <!-- <label for="searchInput" (click)="movieSearch()"> -->
            <clr-icon id="search" size ="32" shape="search" (click)="movieSearch()"></clr-icon>
            <input id="searchInput" type="text" placeholder="   Search Movie" [(ngModel)]= "searchInput">
            <!-- <button routerLink="/home" (click)="movieSearch()">Search</button> -->
        <!-- </label> -->
    </div>
    <div class="header-actions">
        <a href="..." class="nav-link" routerLink="/register"><span class="nav-text">Register</span></a>
        <a href="..." class="nav-link" routerLink="/login"><span class="nav-text">Login</span></a>
        <clr-dropdown  *ngIf="this._userService.isLoggedIn">
            <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                <clr-icon shape="cog"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>

            <!-- need to fix logout link/button -->
            
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <!-- <a href="..." routerLink="/register" clrDropdownItem>Register</a>
                <a href="..." routerLink="/login" clrDropdownItem>Login</a> -->
                <a href="..." (click)="this.logOut()" routerLink="..." clrDropdownItem>Log out</a>
            </clr-dropdown-menu>
        </clr-dropdown>
        <!-- <a href="..." class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a> -->
    </div>
</header>