<header class="header header-7">
    <div class="branding">
        <p class="navTitle">
            <clr-icon id="movieIcon" shape="film-strip"></clr-icon>
            <span class="title" >     The Movie Finder</span>
        </p>
    </div>
    <div class="search" *ngIf="this._userService.isLoggedIn">
        <!-- <label for="searchInput" (click)="movieSearch()"> -->
            <clr-icon
                id="search"
                size ="32"
                shape="search"
                (click)="movieSearch()">
            </clr-icon>
            <input
                id="searchInput"
                name="searchMovie"
                type="text"
                placeholder="   Search Movie"
                required
                minlength="1"
                [(ngModel)]= "searchInput">
            <!-- <button routerLink="/home" (click)="movieSearch()">Search</button> -->
        <!-- </label> -->
    </div>
    <div class="header-actions">
        <a *ngIf="!this._userService.isLoggedIn"
            class="nav-link"
            routerLink="/register">
            <span
                class="nav-text">
                Register
            </span>
        </a>
        <a *ngIf="!this._userService.isLoggedIn"
            class="nav-link"
            routerLink="/login">
            <span
                class="nav-text">
                Login
            </span>
        </a>
        <clr-dropdown
            *ngIf="this._userService.isLoggedIn">
            <button
                class="nav-icon"
                clrDropdownTrigger aria-label="toggle settings menu">
                <clr-icon shape="cog"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <!-- <a href="..." routerLink="/register" clrDropdownItem>Register</a>
                <a href="..." routerLink="/login" clrDropdownItem>Login</a> -->
                <!-- <a href="..." (click)="this.logOut()" routerLink="..." clrDropdownItem>Log out</a> -->
                <button (click)="this.logOut()">Logout</button>
            </clr-dropdown-menu>
        </clr-dropdown>
        <!-- <a href="..." class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a> -->
    </div>
</header>
