<div>
    <clr-input-container>
        <label>Email</label>
        <input clrInput type="text" [(ngModel)]="form.email" name="example" />
    </clr-input-container>
    <clr-input-container>
        <label>Password</label>
        <input clrInput type="text" [(ngModel)]="form.password" name="example" />
    </clr-input-container>
    <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
</div>

<!-- 
<div class = "container">
    <label for="email"><b>Email</b></label>
    <input type="text" name="email" placeholder="Email" [(ngModel)]="form.email" />
    <label for="psw"><b>Password</b></label>
    <input type="password" name="password" placeholder="Password" [(ngModel)]="form.password" />
    <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
</div> -->