    <aside>
        <button *ngIf="this._userService.isLoggedIn" routerLink ="/favorite" class="btn btn-primary btn-sm" (click) ="getFavoriteMovies()">Favorites</button>
        <button class="btn btn-primary btn-sm" (click) ="getTopRated()">Top Rated</button>
        <button class="btn btn-primary btn-sm" (click) ="getUpcoming()">Upcoming</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(28, 'Action Movies')">Action</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(12, 'Adventure Movies')">Adventure</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(16, 'Animation Movies')">Animation</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(35, 'Comedy Movies')">Comedy</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(80, 'Crime Movies')">Crime</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(99, 'Documentary Movies')">Documentary</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(18, 'Drama Movies')">Drama</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(10751, 'Family Movies')">Family</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(14, 'Fantasy Movies')">Fantasy</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(36, 'History Movies')">History</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(27, 'Horror Movies')">Horror</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(10402, 'Music Movies')">Music</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(9648, 'Mystery Movies')">Mystery</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(10749, 'Romance')">Romance</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(878, 'Science Fiction Movies')">Science Fiction</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(10770, 'TV Movies')">TV Movie</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(53, 'Thriller Movies')">Thriller</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(10752, 'War Movies')">War</button>
        <button class="btn btn-primary btn-sm" (click) ="getGenre(37, 'Western Movies')">Western</button>
    </aside>

