  
img {
    width: 180px;
}
// .card .card-title {
//     font-size: 15px;
//     font-weight: 300;
// }

// .text-ellipsis {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }

#cardWrapper {
    max-width: 200px;
    min-width: 200px;
    min-height: 300px;
    max-height: 400px;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#cardDisplay {
    max-width: 80%;
    border: solid black;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sideBarWithCard {
    display: flex;
    flex-direction: row;

}

// .cardFrame{
//     display: flex;
//     flex-direction: column;
//     align-content: flex-end;
//     justify-content: flex-start;
// }

p{
    margin: 1px;
}

h4{
    margin: 5px;
}

// #cards{
//     flex-direction: column;
//     justify-content: space-evenly;
// }