
#cardsContainer {
    background-color: #272727;
    padding: 0px 3px 3px 3px;
    max-width: 100%;
    // border: solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

#cardWrapper {
    background-color: #747474;
    width: 220px;
    margin: 2px;
    height: 380px;
    // border: solid black;
    display: inline-flex;
    flex-direction: column;
    align-self: center;
    align-items: baseline;

}

img {
    // border-radius: 0.5rem;
    padding-top: 4px;
    padding-bottom: 0px;
    max-width: 95%;
    align-self: center;
}

#cardFooter {
    font-size: 12px;
    width: 95%;
    // border: solid black;
    display: flex;
    align-self: center;
    flex-direction: column;
    // flex-wrap: wrap;
    
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin: 1px;
}

h4{
    color: #ffe400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px;
    font-size: 12px;
}

#genre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffe400;
    font-size: 18px;
    margin: 1px;
    padding-top: 8px;
}