<div class="container">
    <div class="login-wrapper">
        <div class="login">
            <section class="title">
                <h3 class="welcome">Welcome to</h3>
                The Movie Finder
                <h5 class="hint">Please Register</h5>
            </section>
            <div class="login-group">
                <clr-input-container>
                    <label class="clr-sr-only">First Name</label>
                    <input 
                        clrInput type="text" 
                        clr placeholder="First Name" 
                        [(ngModel)]="form.firstName"/>
                </clr-input-container>
                <clr-input-container>
                    <label class="clr-sr-only">Last Name</label>
                    <input 
                        clrInput type="text" 
                        clr placeholder="Last Name" 
                        [(ngModel)]="form.lastName"/>
                </clr-input-container>
                <clr-input-container>
                    <label class="clr-sr-only">Email</label>
                    <input 
                        clrInput type="text" 
                        clr placeholder="Email" 
                        [(ngModel)]="form.email"/>
                </clr-input-container>
                <clr-password-container>
                    <label class="clr-sr-only">Password</label>
                    <input 
                        type="password" 
                        clrPassword placeholder="Password" 
                        [(ngModel)]="form.password"/>
                </clr-password-container>
                <!-- <clr-checkbox-wrapper>
                    <label class="clr-sr-only">Password</label>
                    <input clrInput type="text" [(ngModel)]="form.password" name="example" />
                </clr-checkbox-wrapper> -->
                <!-- <div class="error active">
                    Invalid user name or password
                </div> -->
                <button 
                    type="submit" 
                    (click)="signUp()" 
                    class="btn btn-primary">
                    Sign Up
                </button>
                <!-- <a href="..." routerLink = "/register" class="signup">Register</a> -->
            </div>
        </div>
    </div>
</div>
